html {
  height: 100%;

  font-family: $ALLFONT;
  font-size: 16px;
  line-height: 1.4;

  @include media("<=desktop") {
    font-size: 14px;
  }

  @include media("<=tablet") {
    font-size: 12px;
  }
}

body {
  height: 100%;
}

.l-wrapper {
  width: 100%;
  height: 100%;

  display: table;
}

.l-content {
  height: 100%;

  display: table-row;
}

.l-mainContent {
  width: 100%;
  max-width: 1100px;

  margin: 0 auto;

  @include media("<=desktop") {
    //max-width: 92.1875%;
    max-width: 89%;
  }

  @include media("<=tablet") {
    max-width: 84.375%;
  }

  &--header {
    height: 100%;
  }

  &--team {
    height: 100%;
  }

  &--author {
    position: relative;
  }

  &--video {
    @include media("<=tablet") {
      width: 100%;
      max-width: 100%;
    }
  }

  &--contacts {
    max-width: 1100px;

    @include media("<=desktop") {
      //max-width: 900px;
      //
      //text-align: center;
    }
  }
}












