a,body,div,footer,form,header,html,img,label,li,span,ul,video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

footer,header {
  display: block;
}

body {
  line-height: 1;
}

ul {
  list-style: none;
}

* {
  box-sizing: border-box;
}

.cf:after,.cf:before {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

html {
  height: 100%;
  font-family: Raleway,OpenSans,sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

body {
  height: 100%;
}

.l-wrapper {
  width: 100%;
  height: 100%;
  display: table;
}

.l-content {
  height: 100%;
  display: table-row;
}

.l-mainContent {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.l-mainContent--header {
  height: 100%;
}

.l-mainContent--contacts {
  max-width: 1100px;
}

.l-header {
  height: 100vh;
  padding: 135.2px 0;
  padding: 8.45em 0;
  background-image: url(../../img/headerBg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  font-size: 16px;
  font-size: 1rem;
}

.l-header__content {
  height: 100%;
  position: relative;
}

.l-header__body {
  margin: 46.4px 0;
  margin: 2.9em 0;
}

.l-header__head {
  max-width: 820px;
  color: #fff;
  font-size: 70px;
  font-size: 4.375em;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.14286;
  letter-spacing: 2px;
}

.l-header__footer {
  position: absolute;
  bottom: 0;
}

.l-header__note {
  height: 87px;
  height: 2.175em;
  line-height: 87px;
  line-height: 2.175em;
  padding: 0 45px;
  padding: 0 1.125em;
  background: #fff;
  display: inline-block;
  vertical-align: middle;
  color: #0163a7;
  font-family: Raleway,sans-serif;
  font-size: 40px;
  font-size: 2.5em;
  font-weight: 700;
  cursor: pointer;
  transition: background .1s ease-in .1s;
}

.l-header__note:hover {
  background: #0163a7;
}

.l-header__note:hover .l-header__link--note {
  color: #fff;
}

.l-header__button {
  height: 87px;
  line-height: 87px;
  padding: 0 45px;
  padding: 0 1.125em;
  background: rgba(255,255,255,0);
  display: inline-block;
  vertical-align: middle;
  margin: 0 24px;
  margin: 0 1.5em;
  transition: all .2s cubic-bezier(.4,0,1,1) .1s;
}

.l-header__button:hover .l-header__link {
  color: #0163a7;
}

.l-header__button--body {
  display: none;
}

.l-header__link {
  display: block;
  color: #fff;
  font-family: OpenSans,sans-serif;
  font-size: 18px;
  font-size: 1.125em;
  font-weight: 400;
  text-decoration: none;
  outline: 0;
  transition: all 175ms cubic-bezier(.4,0,1,1) .1s;
}

.l-header__link:visited {
  color: #fff;
}

.l-header__link:focus {
  color: #fff;
}

.l-header__link--note {
  color: #0163a7;
  font-weight: 500;
  text-decoration: none;
  transition: color .15s linear .1s;
}

.l-header__lineWrap {
  width: 100%;
  position: relative;
}

.l-header__line {
  position: absolute;
  right: 2.25%;
}

.l-header__line--dotted {
  right: .5%;
}

.l-team {
  font-size: 16px;
  font-size: 1rem;
}

.l-team__body {
  padding: 108px 0;
  padding: 6.75em 0;
  overflow: hidden;
}

.l-team__content {
  height: 787px;
  height: 49.1875em;
}

.l-team__blocks {
  width: 100%;
  height: 100%;
  position: relative;
}

.l-team__block {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.l-team__block--hide {
  z-index: 5;
}

.l-team__block--hide.is-active {
  opacity: 0;
}

.l-team__blurBlock {
  height: 100%;
  position: relative;
}

.l-team__blurBlock__content {
  height: 100%;
  width: 93.85em;
  max-width: 90%;
  position: absolute;
  top: 0;
  right: 0;
}

.l-team__blurBlock__imgs {
  width: 100%;
  height: 100%;
  opacity: 1;
  position: relative;
  transition: opacity .1s ease-in .1s;
}

.l-team__blurBlock__teamImg {
  height: 100%;
  background-image: url(../img/team22.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: none;
}

.l-team__blurBlock__bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: 0 0;
}

.l-team__info {
  margin: 90px 0 0 100px;
  margin: 5.625em 0 0 6.25em;
  display: inline-block;
  position: relative;
  z-index: 0;
  cursor: none;
  pointer-events: none;
}

.l-team__text {
  max-width: 642px;
  opacity: 1;
  color: #fff;
  font-family: Raleway,sans-serif;
  font-size: 30px;
  font-size: 1.875em;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0;
  transition: opacity .2s ease-in-out .1s;
}

.l-team__authorBlock {
  height: 100%;
  position: relative;
}

.l-team__authorBlock__content {
  height: 100%;
  width: 93.85em;
  max-width: 90%;
  position: absolute;
  top: 0;
  right: 0;
}

.l-team__authorBlock__imgs {
  width: 100%;
  height: 100%;
  position: relative;
}

.l-team__authorBlock__teamImg {
  height: 100%;
  background-image: url(../img/Kirill.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: none;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.l-team__authorBlock__bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.l-team__block--hide.is-hide {
  opacity: 1;
  overflow: hidden;
}

.l-team__block--hide.is-hide .l-team__info {
  display: none;
}

#showingBlock.is-active {
  opacity: 1;
}

.l-team__authorBlock__content.is-hide {
  opacity: 0;
  width: 0;
  -webkit-animation: outForBlock .6s 1 linear;
  animation: outForBlock .6s 1 linear;
}

.c-logo {
  font-size: 16px;
  font-size: 1rem;
}

.c-logo__img {
  max-width: 260px;
  max-height: 63px;
  max-width: 16.25em;
  max-height: 3.9375em;
}

.c-decorLine {
  width: 6px;
  width: .375em;
  height: 154em;
  height: 9.625em;
  background: #fff;
  font-size: 16px;
  font-size: 1em;
}

.c-decorLine--long {
  height: 361px;
  height: 22.5625em;
}

.c-decorLine--blue {
  background: #444f71;
}

.c-decorLine--violet {
  background: #b2c0e7;
}

.c-decorDotted {
  font-size: 16px;
  font-size: 1em;
}

.c-decorDotted__item {
  width: 6px;
  width: .375em;
  height: 4em;
  height: .25em;
  background: #fff;
}

.c-decorDotted__item--blue {
  background: #444f71;
}

.c-decorDotted__item--violet {
  background: #b2c0e7;
}

.c-decorDotted__item:not(:first-child) {
  margin-top: 12px;
  margin-top: .75em;
}

.c-shape {
  font-size: 16px;
  font-size: 1rem;
}

.c-shape__img {
  width: 100%;
  max-width: 16px;
  max-height: 30px;
  display: inline-block;
}

.c-shape__img--big {
  max-width: 32px;
  max-height: 54px;
}

.c-snake {
  font-size: 16px;
  font-size: 1rem;
}

.c-snake__img {
  width: 100%;
  max-width: 150px;
  max-width: 9.375em;
  max-height: 310px;
  max-height: 19.375em;
  display: inline-block;
}

@media (max-width:1366px) {
  html {
    font-size: 14px;
  }

  .l-mainContent {
    max-width: 89%;
  }

  .l-header {
    padding: 4.225em 0;
  }

  .l-team__body {
    padding: 3em 0;
  }

  .l-team__blurBlock__content {
    max-width: 95%;
  }

  .l-team__info {
    margin: 6.25em 0 0 6.25em;
  }

  .l-team__authorBlock__content {
    max-width: 95%;
  }
}

@media (max-width:768px) {
  html {
    font-size: 12px;
  }

  .l-mainContent {
    max-width: 84.375%;
  }

  .l-mainContent--video {
    width: 100%;
    max-width: 100%;
  }

  .l-header {
    padding: 3.5em 0;
    height: auto;
  }

  .l-header__footer {
    position: static;
    margin-top: 10em;
  }

  .l-team__body {
    padding: 1.6875em 0;
  }

  .l-team__content {
    height: 68em;
  }

  .l-team__block {
    max-height: 33em;
    margin: 1em 0;
    position: static;
    opacity: 1;
  }

  .l-team__blurBlock__content {
    width: 100%;
    max-width: 100%;
  }

  .l-team__blurBlock__teamImg {
    background-size: 100% 100%;
  }

  .l-team__info {
    margin-left: 0;
  }

  .l-team__authorBlock__content {
    width: 100%;
    max-width: 100%;
  }

  .l-team__authorBlock__teamImg {
    background-size: cover;
  }

  .c-decorLine {
    display: none;
  }

  .c-decorDotted {
    display: none;
  }

  .c-shape {
    display: none;
  }

  .c-snake {
    display: none;
  }
}

@media (max-width:480px) {
  .l-header {
    padding: 2.25em 0 4.225em;
  }

  .l-header__head {
    font-size: 1.8333em;
    letter-spacing: 1px;
  }

  .l-header__footer {
    margin-top: 5em;
  }

  .l-header__note {
    font-size: 1.8333em;
  }

  .l-header__button {
    height: auto;
    line-height: 1;
  }

  .l-header__button--footer {
    display: none;
  }

  .l-header__button--body {
    padding: 0;
    display: inline-block;
    margin: 20px 0;
    margin: 1.6667em 0;
  }

  .l-team__body {
    padding: 4px 0;
  }

  .l-team__content {
    height: 55em;
  }

  .l-team__block {
    max-height: 22.583em;
  }

  .l-team__block--show {
    max-height: 30em;
  }

  .l-team__blurBlock__teamImg {
    background-size: cover;
  }

  .l-team__info {
    margin: 1.7em 0;
  }
}

/*# sourceMappingURL=header__hr.css.map */
