a,body,div,footer,form,header,html,img,label,li,span,ul,video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

footer,header {
  display: block;
}

body {
  line-height: 1;
}

ul {
  list-style: none;
}

* {
  box-sizing: border-box;
}

.cf:after,.cf:before {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

html {
  height: 100%;
  font-family: Raleway,OpenSans,sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

body {
  height: 100%;
}

.l-wrapper {
  width: 100%;
  height: 100%;
  display: table;
}

.l-content {
  height: 100%;
  display: table-row;
}

.l-mainContent {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.l-mainContent--header {
  height: 100%;
}

.l-mainContent--contacts {
  max-width: 1100px;
}

.l-header {
  height: 100vh;
  padding: 135.2px 0;
  padding: 8.45em 0;
  background-image: url(../../img/headerBg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  font-size: 16px;
  font-size: 1rem;
}

.l-header__content {
  height: 100%;
  position: relative;
}

.l-header__body {
  margin: 46.4px 0;
  margin: 2.9em 0;
}

.l-header__head {
  max-width: 820px;
  color: #fff;
  font-size: 70px;
  font-size: 4.375em;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.14286;
  letter-spacing: 2px;
}

.l-header__footer {
  position: absolute;
  bottom: 0;
}

.l-header__note {
  height: 87px;
  height: 2.175em;
  line-height: 87px;
  line-height: 2.175em;
  padding: 0 45px;
  padding: 0 1.125em;
  background: #fff;
  display: inline-block;
  vertical-align: middle;
  color: #0163a7;
  font-family: Raleway,sans-serif;
  font-size: 40px;
  font-size: 2.5em;
  font-weight: 700;
  cursor: pointer;
  transition: background .1s ease-in .1s;
}

.l-header__note:hover {
  background: #0163a7;
}

.l-header__note:hover .l-header__link--note {
  color: #fff;
}

.l-header__button {
  height: 87px;
  line-height: 87px;
  padding: 0 45px;
  padding: 0 1.125em;
  background: rgba(255,255,255,0);
  display: inline-block;
  vertical-align: middle;
  margin: 0 24px;
  margin: 0 1.5em;
  transition: all .2s cubic-bezier(.4,0,1,1) .1s;
}

.l-header__button:hover .l-header__link {
  color: #0163a7;
}

.l-header__button--body {
  display: none;
}

.l-header__link {
  display: block;
  color: #fff;
  font-family: OpenSans,sans-serif;
  font-size: 18px;
  font-size: 1.125em;
  font-weight: 400;
  text-decoration: none;
  outline: 0;
  transition: all 175ms cubic-bezier(.4,0,1,1) .1s;
}

.l-header__link:visited {
  color: #fff;
}

.l-header__link:focus {
  color: #fff;
}

.l-header__link--note {
  color: #0163a7;
  font-weight: 500;
  text-decoration: none;
  transition: color .15s linear .1s;
}

.l-header__lineWrap {
  width: 100%;
  position: relative;
}

.l-header__line {
  position: absolute;
  right: 2.25%;
}

.l-header__line--dotted {
  right: .5%;
}

.l-team {
  font-size: 16px;
  font-size: 1rem;
}

.l-team__body {
  padding: 108px 0;
  padding: 6.75em 0;
  overflow: hidden;
}

.l-team__content {
  height: 787px;
  height: 49.1875em;
}

.l-team__blocks {
  width: 100%;
  height: 100%;
  position: relative;
}

.l-team__block {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.l-team__block--hide {
  z-index: 5;
}

.l-team__block--hide.is-active {
  opacity: 0;
}

.l-team__blurBlock {
  height: 100%;
  position: relative;
}

.l-team__blurBlock__content {
  height: 100%;
  width: 93.85em;
  max-width: 90%;
  position: absolute;
  top: 0;
  right: 0;
}

.l-team__blurBlock__imgs {
  width: 100%;
  height: 100%;
  opacity: 1;
  position: relative;
  transition: opacity .1s ease-in .1s;
}

.l-team__blurBlock__teamImg {
  height: 100%;
  background-image: url(../img/team22.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: none;
}

.l-team__blurBlock__bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: 0 0;
}

.l-team__info {
  margin: 90px 0 0 100px;
  margin: 5.625em 0 0 6.25em;
  display: inline-block;
  position: relative;
  z-index: 0;
  cursor: none;
  pointer-events: none;
}

.l-team__text {
  max-width: 642px;
  opacity: 1;
  color: #fff;
  font-family: Raleway,sans-serif;
  font-size: 30px;
  font-size: 1.875em;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0;
  transition: opacity .2s ease-in-out .1s;
}

.l-team__authorBlock {
  height: 100%;
  position: relative;
}

.l-team__authorBlock__content {
  height: 100%;
  width: 93.85em;
  max-width: 90%;
  position: absolute;
  top: 0;
  right: 0;
}

.l-team__authorBlock__imgs {
  width: 100%;
  height: 100%;
  position: relative;
}

.l-team__authorBlock__teamImg {
  height: 100%;
  background-image: url(../img/Kirill.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: none;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.l-team__authorBlock__bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.l-team__block--hide.is-hide {
  opacity: 1;
  overflow: hidden;
}

.l-team__block--hide.is-hide .l-team__info {
  display: none;
}

#showingBlock.is-active {
  opacity: 1;
}

.l-team__authorBlock__content.is-hide {
  opacity: 0;
  width: 0;
  -webkit-animation: outForBlock .6s 1 linear;
  animation: outForBlock .6s 1 linear;
}

.l-video {
  font-size: 16px;
  font-size: 1rem;
}

.l-video__head {
  color: #000;
  font-family: Raleway,sans-serif;
  font-size: 50px;
  font-size: 3.125em;
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.l-video__body {
  margin: 85px 0 110px;
  margin: 5.3125em 0 6.25em;
}

.l-video__lineWrap {
  position: relative;
}

.l-video__line {
  position: absolute;
  top: -16px;
  right: 2.5%;
  z-index: 5;
}

.l-video__line--dotted {
  top: 5px;
  right: 0;
  z-index: 0;
}

.l-why {
  padding: 120px 0;
  padding: 7.5em 0;
  background-image: url(../../img/whyBg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 16px;
  font-size: 1rem;
}

.l-why__head {
  max-width: 820px;
  max-width: 16.4em;
  position: relative;
  color: #fff;
  font-family: Raleway,sans-serif;
  font-size: 50px;
  font-size: 3.125em;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.l-why__head:before {
  content: "*";
  position: absolute;
  left: -15px;
}

.l-why__body {
  margin-top: 65.6px;
  margin-top: 4.1em;
}

.l-why__item {
  position: relative;
}

.l-why__item:not(:first-child) {
  margin-top: 44.8px;
  margin-top: 2.8em;
}

.l-why__text {
  max-width: 52%;
  color: #fff;
  font-family: OpenSans,sans-serif;
  font-size: 30px;
  font-size: 1.875em;
  line-height: 1.466;
}

.l-why__shape {
  position: absolute;
  right: 0;
}

.l-why__lineWrap {
  position: relative;
}

.l-why__line {
  position: absolute;
  left: -65px;
  top: -50px;
}

.l-portret {
  padding: 128px 0;
  padding: 8.1em 0;
  width: 100%;
  position: relative;
  font-size: 16px;
  font-size: 1rem;
}

.l-portret__hand {
  max-width: 47%;
  max-height: 990px;
  position: absolute;
  z-index: -1;
}

.l-portret__hand--left {
  left: 0;
  bottom: 7%;
}

.l-portret__hand--right {
  right: 0;
  top: 12.75%;
}

.l-portret__head {
  color: #000;
  font-family: Raleway,sans-serif;
  font-size: 50px;
  font-size: 3.125em;
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.l-portret__body {
  margin-top: 78.4px;
  margin-top: 4.9em;
}

.l-portret__list {
  min-height: 768px;
}

.l-portret__item:not(:first-child) {
  margin-top: 51.2px;
  margin-top: 3.2em;
}

.l-portret__item {
  opacity: 0;
  max-width: 632px;
  max-width: 39.5em;
  clear: both;
  position: relative;
}

.l-portret__item--third {
  margin-left: 8.5%;
}

.l-portret__item--fourth {
  margin-left: 17%;
}

.l-portret__item--fifth {
  margin-left: 25.5%;
}

.l-portret__item--sixth {
  margin-left: 34%;
}

.l-portret__item--last {
  float: right;
}

.l-portret__text {
  color: #777;
  font-family: OpenSans,sans-serif;
  font-size: 24px;
  font-size: 1.5em;
  line-height: 1.4;
}

.l-portret__text--head {
  max-width: 97%;
  margin-bottom: 12px;
  margin-bottom: .3em;
  color: #000;
  font-family: Raleway,sans-serif;
  font-size: 40px;
  font-size: 2.5em;
  font-weight: 600;
  line-height: 1.1;
}

.l-portret__dot {
  position: absolute;
  left: 0;
  top: 10px;
  display: none;
  max-width: 4px;
  max-height: 4px;
}

.l-portret__lineWrap {
  position: relative;
}

.l-portret__line {
  position: absolute;
  top: -20px;
  left: -9%;
  z-index: 5;
}

.l-contacts {
  font-size: 16px;
  font-size: 1rem;
}

.l-contacts__body {
  padding: 98.4px 0;
  padding: 6.15em 0;
  position: relative;
}

.l-contacts__bg {
  width: 1605px;
  width: 100.3125em;
  min-width: 78%;
  max-width: 96%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  background: rgba(232,239,244,.38);
  background: linear-gradient(to bottom,#d4e9f0 0,#b2c0e7 100%);
}

.l-contacts__leftPart {
  max-width: 27.5em;
  float: left;
}

.l-contacts__rightPart {
  max-width: 34.375em;
  float: right;
}

.l-contacts__head {
  color: #000;
  font-family: Raleway,sans-serif;
  font-size: 50px;
  font-size: 3.125em;
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: left;
}

.l-contacts__text {
  margin-top: 55px;
  margin-top: 1.833em;
  color: #000;
  font-family: OpenSans,sans-serif;
  font-size: 30px;
  font-size: 1.875em;
  text-align: left;
  line-height: 1.4;
}

.l-contacts__form {
  padding: 65px 70px;
  padding: 4.0625em 4.375em;
  background: #fff;
}

.l-contacts__footer {
  padding: 111px 0;
  padding: 6.9375em 0;
}

.l-contacts__contact {
  display: inline-block;
}

.l-contacts__contact:last-child {
  margin-left: 94px;
  margin-left: 5.875em;
}

.l-contacts__link {
  color: #000;
  font-family: OpenSans,sans-serif;
  font-size: 30px;
  font-size: 1.875em;
  line-height: 1.4;
  text-decoration: none;
}

.l-contacts__lineWrap {
  clear: both;
  position: relative;
}

.l-contacts__lineWrap--snake {
  height: 100%;
}

.l-contacts__line {
  position: absolute;
}

.l-contacts__line--first {
  top: -200px;
  left: -10%;
}

.l-contacts__line--second {
  left: -15%;
  top: -47px;
}

.l-contacts__line--third {
  top: -130px;
  left: -10%;
}

.l-contacts__line--fourth {
  right: -4.25%;
  bottom: -11%;
  width: 10em;
}

.l-footer {
  font-size: 16px;
  font-size: 1rem;
}

.l-footer__content {
  padding: 56px 0;
  padding: 3.5em 0;
  background: #e6e6e6;
}

.l-footer__leftPart {
  float: left;
}

.l-footer__rightPart {
  float: right;
}

.l-footer__text {
  color: #696969;
  font-family: OpenSans,sans-serif;
  font-size: 14px;
  font-size: .875em;
  font-weight: 300;
}

.l-footer__text:not(:first-child) {
  margin-top: 7px;
  margin-top: .5em;
}

.l-footer__social {
  display: inline-block;
  margin: .5em .85em;
}

.l-footer__icon {
  width: 100%;
  max-width: 16px;
  max-height: 16px;
  fill: #696969;
  display: inline-block;
  cursor: pointer;
  transition: fill .2s linear .1s;
}

.l-footer__icon:hover {
  fill: #000;
}

.l-footer__social--first {
  margin-left: 0;
}

.c-logo {
  font-size: 16px;
  font-size: 1rem;
}

.c-logo__img {
  max-width: 260px;
  max-height: 63px;
  max-width: 16.25em;
  max-height: 3.9375em;
}

.c-decorLine {
  width: 6px;
  width: .375em;
  height: 154em;
  height: 9.625em;
  background: #fff;
  font-size: 16px;
  font-size: 1em;
}

.c-decorLine--long {
  height: 361px;
  height: 22.5625em;
}

.c-decorLine--blue {
  background: #444f71;
}

.c-decorLine--violet {
  background: #b2c0e7;
}

.c-decorDotted {
  font-size: 16px;
  font-size: 1em;
}

.c-decorDotted__item {
  width: 6px;
  width: .375em;
  height: 4em;
  height: .25em;
  background: #fff;
}

.c-decorDotted__item--blue {
  background: #444f71;
}

.c-decorDotted__item--violet {
  background: #b2c0e7;
}

.c-decorDotted__item:not(:first-child) {
  margin-top: 12px;
  margin-top: .75em;
}

.c-shape {
  font-size: 16px;
  font-size: 1rem;
}

.c-shape__img {
  width: 100%;
  max-width: 16px;
  max-height: 30px;
  display: inline-block;
}

.c-shape__img--big {
  max-width: 32px;
  max-height: 54px;
}

.c-snake {
  font-size: 16px;
  font-size: 1rem;
}

.c-snake__img {
  width: 100%;
  max-width: 150px;
  max-width: 9.375em;
  max-height: 310px;
  max-height: 19.375em;
  display: inline-block;
}

.c-video {
  font-size: 16px;
  font-size: 1rem;
}

.c-video__content {
  width: 100%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.c-video__overLay {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.c-video__iframeHack {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
}

.c-video__firstVideo {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  border: none;
}

.c-video__buttonWrap {
  padding: 15.75em 0 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

.c-video__button {
  width: 100%;
  max-width: 96px;
  max-width: 6em;
  max-height: 96px;
  max-height: 6em;
  display: inline-block;
  cursor: pointer;
}

video::-internal-media-controls-download-button {
  display: none;
}

video::-webkit-media-controls-enclosure {
  overflow: hidden;
}

video::-webkit-media-controls-panel {
  width: calc(100% + 30px);
}

.c-form {
  font-size: 16px;
  font-size: 1rem;
}

.c-form__input {
  padding: 13px 36px 13px 18px;
  padding: .65em 1.8em .65em .9em;
  width: 100%;
  margin-top: 20px;
  margin-top: 1em;
  border: 1px solid #e0e0e0;
  background-repeat: no-repeat;
  background-position: 97.5% 48.5%;
  background-size: 15px 15px;
  outline: 0;
  color: #777;
  font-family: OpenSans,sans-serif;
  font-size: 20px;
  font-size: 1.25em;
  transition: all .5s linear .1s,border .3s linear .1s;
}

.c-form__input:focus {
  border: 1px solid #000;
  color: #000;
}

.c-form__input--required {
  background-repeat: no-repeat;
  background-position: 97.5% 48.5%;
  background-size: 15px 15px;
}

.c-form__input--required.error {
  border: 1px solid #ea5050;
  background-image: url(../img/cancel--red.svg);
}

.c-form__input--required.valid {
  border: 1px solid #00aa51;
  background-image: url(../img/done--green.svg);
}

.c-form__input--first {
  margin-top: 0;
}

.c-form__button {
  border: 1px solid #e0e0e0;
  background: #fff;
  cursor: pointer;
  transition: all .2s cubic-bezier(0,0,.49,1.19) .1s;
}

.c-form__button.is-active {
  border: 1px solid #888;
}

.c-form__button:hover {
  background: #1a5bdd;
}

.c-form__button.is-active .c-form__button__text {
  color: #000;
}

.c-form__button:hover .c-form__button__text {
  color: #fff;
}

.c-form__button__text {
  display: inline-block;
  vertical-align: middle;
  color: #9a9a9a;
  transition: all .1s linear .1s;
}

.c-form__button__text.is-hide {
  display: none;
}

.c-form__button__preloader {
  width: 0;
  overflow: hidden;
  display: none;
  vertical-align: middle;
}

.c-form__button__preloader.is-active {
  display: inline-block;
  width: auto;
  overflow: inherit;
}

.c-form__button__result {
  width: 0;
  overflow: hidden;
  opacity: 0;
  display: none;
  vertical-align: middle;
  transition: width .1s linear .1s;
}

.c-form__button__result.is-active {
  width: 2em;
  opacity: 1;
  display: inline-block;
}

.c-form__button__icon {
  max-width: 20px;
  max-height: 20px;
  vertical-align: middle;
}

.c-form__download {
  margin-top: 16px;
}

.c-form__lineWrap {
  position: relative;
}

.c-form__line {
  position: absolute;
}

.c-form__line--first {
  top: -95px;
  right: -15%;
}

.c-form label.error {
  height: 0;
  overflow: hidden;
  opacity: 0;
  font-size: 0;
}

.c-download {
  font-size: 16px;
  font-size: 1rem;
}

.c-download__content {
  width: 100%;
  height: 3.75em;
  line-height: 3.75em;
  position: relative;
  cursor: pointer;
  text-align: left;
}

.c-download__content:hover .c-download__icon {
  fill: #1a5bdd;
}

.c-download__content:hover .c-download__block--first {
  opacity: 0;
  z-index: 0;
}

.c-download__content:hover .c-download__block--second {
  opacity: 1;
  z-index: 5;
}

.c-download__icon {
  max-width: 40px;
  max-height: 40px;
  max-width: 2.5em;
  max-height: 2.5em;
  fill: #95afec;
  transition: all .1s ease-in .1s;
  position: absolute;
  top: 14%;
  z-index: 10;
}

.c-download__icon.is-active {
  opacity: 0;
  z-index: 0;
  transition: all .1s ease-out .1s;
}

.c-download__block {
  padding-left: 14.5%;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  background: #fff;
  transition: all .2s linear .1s;
}

.c-download__block--first {
  z-index: 5;
  transition-duration: .3s;
}

.c-download__block--second {
  z-index: 0;
  opacity: 0;
}

.c-download__block--link {
  padding-left: 0;
  width: 100%;
  z-index: 0;
  opacity: 0;
  left: 0;
}

.c-download__block--link.is-active {
  z-index: 10;
  opacity: 1;
  transition: all .2s linear .1s;
}

.c-download__block--file {
  padding-left: 0;
  width: 100%;
  z-index: 0;
  opacity: 0;
  left: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  transition: all .2s linear .1s;
}

.c-download__block--file.is-active {
  z-index: 10;
  opacity: 1;
  background: #fff;
}

.c-download__text {
  display: inline-block;
  color: #9a9a9a;
  font-family: OpenSans,sans-serif;
  font-size: 20px;
  font-size: 1.25em;
  cursor: pointer;
  transition: all .2s linear .1s;
}

.c-download__text--file {
  margin-left: .8em;
}

.c-download__text:hover {
  color: #000;
}

.c-download__input {
  padding: 13px 36px 13px 18px;
  padding: .65em 1.8em .65em .9em;
  width: 100%;
  border: 1px solid #e0e0e0;
  background-image: url(../img/cancel--none.svg);
  background-repeat: no-repeat;
  background-position: 98.5% 50%;
  background-size: 15px 15px;
  outline: 0;
  color: #9a9a9a;
  font-family: OpenSans,sans-serif;
  font-size: 20px;
  font-size: 1.25em;
  transition: all .2s linear .1s,border .3s linear .1s;
}

.c-download__input:focus {
  border: 1px solid #000;
  color: #000;
}

.c-download__cancel {
  padding: .3125em;
  width: 100%;
  max-width: 20px;
  max-width: 1.25em;
  max-height: 20px;
  max-height: 1.25em;
  display: inline-block;
  top: -5px;
  right: -5px;
  position: absolute;
  background: #fff;
}

.c-download__cancel--file {
  top: 21px;
  top: 1.3125em;
  right: 0;
}

.c-download__file {
  display: none;
}

.c-download__fileName {
  opacity: 1;
  color: #000;
  font-style: italic;
  transition: all .1s ease-in-out .1s;
}

.c-preloader {
  font-size: 16px;
  font-size: 1rem;
}

.c-preloader__content {
  width: 48px;
  height: 30px;
  position: relative;
}

.c-preloader__icon {
  width: 40px;
  height: 40px;
  vertical-align: bottom;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  transition: all .3s ease;
}

.c-preloader__icon.is-active {
  opacity: 1;
}

.c-preloader__radius {
  fill: none;
  stroke: #9a9a9a;
  opacity: .3;
  stroke-width: 4px;
}

.c-preloader__toddler {
  fill: none;
  stroke: rgba(26,91,221,.8);
  stroke-width: 4px;
  stroke-linecap: round;
  stroke-dasharray: 56.52;
  stroke-dashoffset: 42;
  -webkit-animation: rotate .75s linear infinite;
  animation: rotate .75s linear infinite;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

@font-face {
  font-family:OpenSans;src:url(../fonts/OpenSans-Regular.ttf) format("truetype");font-style:normal;font-weight:400;
}

@font-face {
  font-family:OpenSans;src:url(../fonts/OpenSans-Light.ttf) format("truetype");font-style:normal;font-weight:300;
}

@font-face {
  font-family:Raleway;src:url(../fonts/Raleway-Medium.ttf) format("truetype");font-style:normal;font-weight:500;
}

@font-face {
  font-family:Raleway;src:url(../fonts/Raleway-SemiBold.ttf) format("truetype");font-style:normal;font-weight:600;
}

@font-face {
  font-family:Raleway;src:url(../fonts/Raleway-Bold.ttf) format("truetype");font-style:normal;font-weight:700;
}

@font-face {
  font-family:Raleway;src:url(../fonts/Raleway-ExtraBold.ttf) format("truetype");font-style:normal;font-weight:800;
}

@media (max-width:1366px) {
  html {
    font-size: 14px;
  }

  .l-mainContent {
    max-width: 89%;
  }

  .l-header {
    padding: 4.225em 0;
  }

  .l-team__body {
    padding: 3em 0;
  }

  .l-team__blurBlock__content {
    max-width: 95%;
  }

  .l-team__info {
    margin: 6.25em 0 0 6.25em;
  }

  .l-team__authorBlock__content {
    max-width: 95%;
  }

  .l-video__header {
    margin-top: 2em;
  }

  .l-video__body {
    margin: 3.125em 0 3.125em;
  }

  .l-why__text {
    max-width: 37%;
  }

  .l-why__lineWrap {
    display: none;
  }

  .l-portret__hand--left {
    bottom: 5%;
    left: -3%;
  }

  .l-contacts__bg {
    max-width: 94.5%;
  }

  .l-contacts__leftPart {
    max-width: 50%;
    padding-right: 5%;
  }

  .l-contacts__rightPart {
    padding: 0 5%;
    max-width: 50%;
  }

  .l-contacts__text {
    font-size: 2em;
  }

  .l-contacts__form {
    padding: 2em;
  }

  .l-contacts__lineWrap {
    display: none;
  }

  .l-contacts__line--first {
    left: -1%;
  }

  .l-contacts__line--second {
    left: -8%;
  }

  .l-contacts__line--fourth {
    display: none;
  }
}

@media (max-width:768px) {
  html {
    font-size: 12px;
  }

  .l-mainContent {
    max-width: 84.375%;
  }

  .l-mainContent--video {
    width: 100%;
    max-width: 100%;
  }

  .l-header {
    padding: 3.5em 0;
    height: auto;
  }

  .l-header__footer {
    position: static;
    margin-top: 10em;
  }

  .l-team__body {
    padding: 1.6875em 0;
  }

  .l-team__content {
    height: 68em;
  }

  .l-team__block {
    max-height: 33em;
    margin: 1em 0;
    position: static;
    opacity: 1;
  }

  .l-team__blurBlock__content {
    width: 100%;
    max-width: 100%;
  }

  .l-team__blurBlock__teamImg {
    background-size: 100% 100%;
  }

  .l-team__info {
    margin-left: 0;
  }

  .l-team__authorBlock__content {
    width: 100%;
    max-width: 100%;
  }

  .l-team__authorBlock__teamImg {
    background-size: cover;
  }

  .l-video__head {
    padding: .75em 0;
  }

  .l-why__text {
    max-width: 53%;
  }

  .l-portret {
    padding: 4.05em 0;
  }

  .l-portret__item {
    max-width: 90%;
  }

  .l-portret__item--third {
    margin-left: 0;
  }

  .l-portret__item--fourth {
    margin-left: 0;
  }

  .l-portret__item--fifth {
    margin-left: 0;
  }

  .l-portret__item--sixth {
    margin-left: 0;
  }

  .l-portret__item--last {
    float: none;
  }

  .l-contacts__body {
    padding: 3.075em 0;
  }

  .l-contacts__bg {
    max-width: 100%;
  }

  .l-contacts__leftPart {
    max-width: 100%;
    display: block;
  }

  .l-contacts__rightPart {
    max-width: 100%;
    margin-left: 0;
    display: block;
  }

  .l-contacts__form {
    padding: 1.5em 2em;
    max-width: 65%;
    margin: 2em auto 0;
  }

  .l-contacts__footer {
    padding: 3.46875em 0;
  }

  .l-contacts__contact {
    display: block;
  }

  .l-contacts__contact:last-child {
    margin-left: 0;
  }

  .c-decorLine {
    display: none;
  }

  .c-decorDotted {
    display: none;
  }

  .c-shape {
    display: none;
  }

  .c-snake {
    display: none;
  }

  .c-video__buttonWrap {
    display: none;
  }
}

@media (max-width:480px) {
  .l-header {
    padding: 2.25em 0 4.225em;
  }

  .l-header__head {
    font-size: 1.8333em;
    letter-spacing: 1px;
  }

  .l-header__footer {
    margin-top: 5em;
  }

  .l-header__note {
    font-size: 1.8333em;
  }

  .l-header__button {
    height: auto;
    line-height: 1;
  }

  .l-header__button--footer {
    display: none;
  }

  .l-header__button--body {
    padding: 0;
    display: inline-block;
    margin: 20px 0;
    margin: 1.6667em 0;
  }

  .l-team__body {
    padding: 4px 0;
  }

  .l-team__content {
    height: 55em;
  }

  .l-team__block {
    max-height: 22.583em;
  }

  .l-team__block--show {
    max-height: 30em;
  }

  .l-team__blurBlock__teamImg {
    background-size: cover;
  }

  .l-team__info {
    margin: 1.7em 0;
  }

  .l-video__header {
    margin-top: 0;
  }

  .l-video__head {
    padding: 0 0 1.2727em;
    font-size: 1.833em;
    line-height: 1.2;
    letter-spacing: 1px;
  }

  .l-video__body {
    margin: 0 0 1.5833em 0;
  }

  .l-why {
    padding: 3.5833em 0;
    background-position: left;
  }

  .l-why__head {
    font-size: 1.8333em;
    letter-spacing: 1px;
    line-height: 1.2;
  }

  .l-why__body {
    margin-top: 3.5em;
  }

  .l-why__item:not(:first-child) {
    margin-top: 2.5em;
  }

  .l-why__text {
    max-width: 90%;
    font-size: 1.5em;
  }

  .l-portret__hand {
    display: none;
  }

  .l-portret__head {
    font-size: 1.8333em;
    letter-spacing: 1px;
    line-height: 1.2;
  }

  .l-portret__body {
    margin-top: 3.5833em;
  }

  .l-portret__list {
    min-height: 0;
  }

  .l-portret__item:not(:first-child) {
    margin-top: 2.666em;
  }

  .l-portret__item {
    padding-left: 3.5%;
    max-width: none;
  }

  .l-portret__text {
    display: none;
  }

  .l-portret__text--head {
    display: block;
    font-size: 1.833em;
    font-weight: 500;
  }

  .l-portret__dot {
    display: block;
  }

  .l-contacts__rightPart {
    padding: 0;
  }

  .l-contacts__head {
    font-size: 1.8333em;
    letter-spacing: 1px;
    line-height: 1.2;
  }

  .l-contacts__text {
    font-size: 1.3333em;
  }

  .l-contacts__form {
    padding: 1.3333em;
    max-width: 100%;
  }

  .l-contacts__footer {
    padding: 3em 0;
  }

  .l-contacts__link {
    font-size: 1.333em;
  }

  .l-footer__content {
    padding: 1.75em 0;
  }

  .l-footer__leftPart {
    width: 100%;
    margin: 1.8333em 0 0;
    float: right;
  }

  .l-footer__rightPart {
    width: 100%;
    float: left;
  }

  .l-footer__icon {
    max-width: 22px;
    max-height: 22px;
  }

  .c-form__input {
    font-size: 1.375em;
  }

  .c-download__text {
    font-size: 1.375em;
  }
}

@-webkit-keyframes outForBlock {
  0% {
    opacity: 1;
    width: 93.85em;
    height: 100%;
    right: 0;
    top: 0;
  }

  50% {
    opacity: .35;
    height: 50%;
    width: 46.925em;
    top: 21%;
    right: 20%;
  }

  100% {
    opacity: 0;
    width: 0;
    top: 42%;
    right: 40%;
    height: 0;
  }
}

@keyframes outForBlock {
  0% {
    opacity: 1;
    width: 93.85em;
    height: 100%;
    right: 0;
    top: 0;
  }

  50% {
    opacity: .35;
    height: 50%;
    width: 46.925em;
    top: 21%;
    right: 20%;
  }

  100% {
    opacity: 0;
    width: 0;
    top: 42%;
    right: 40%;
    height: 0;
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=main__hr.css.map */
