@keyframes dotAnim {
  0% {
    opacity: 1;
  }

  60% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
 }

@keyframes inForBlock {
  0% {
    //opacity: 0;
    width: 0;
    //height:25%;
    left: 50%;
    top: 50%;
  }

  50% {
    //opacity: 0.5;
    width: 50%;
    //height: 50%;
    left: 25%;
    top: 25%;
  }

  100% {
    //opacity: 1;
    height: 100%;
    //width: 100%;
    left: 0;
    top: 0;
  }
}

@keyframes outForBlock {
  0% {
    opacity: 1;
    width: 93.85em;
    height: 100%;
    //width: 100%;
    //left: 0;
    right: 0;
    top: 0;
  }

  50% {
    opacity: 0.35;
    height: 50%;
    width: 46.925em;
    //left: 30%;
    //top: 20%;
    top: 21%;
    right: 20%;
  }

  100% {
    opacity: 0;
    width: 0;
    top: 42%;
    right: 40%;
    //opacity: 0;
    //width: 0;
    height: 0;
    //left: 60%;
    //top: 40%;
    //display: none;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}