.l-header {
  //padding: 144px 0;
  //padding: 9em 0;
  padding: 155.2px 0;
  padding: 9.7em 0;

  background-image: url("../img/headerBg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;

  font-size: 16px;
  font-size: 1rem;

  &__body {
    //margin: 72px 0;
    //margin: 4.5em 0;
    margin: 46.4px 0;
    margin: 2.9em 0;
  }

  &__head {
    max-width: 785px;
    max-width: 11.21em;

    color: rgba(255, 255, 255, 1);
    font-size: 70px;
    font-size: 4.375em;
    font-weight: 800;
    text-transform: uppercase;
    line-height: (80px/70px);
  }

  &__footer {
    //margin-top: 338px;
    //margin-top: 21.125em;
    margin-top: 328px;
    margin-top: 20.5em;
  }

  &__note {
    height: 87px;
    line-height: 87px;
    padding: 0 45px;
    padding: 0 1.125em;

    background: #fff;
    display: inline-block;
    vertical-align: middle;

    color: rgba(1, 99, 167, 1);
    font-family: $RALFONT;
    font-size: 40px;
    font-size: 2.5em;
    font-weight: 700;
    cursor: default;
  }

  &__button {
    height: 87px;
    line-height: 87px;
    padding: 0 45px;
    padding: 0 1.125em;

    background: rgba(255, 255, 255, 0);
    display: inline-block;
    vertical-align: middle;
    margin: 0 24px;
    margin: 0 1.5em;

    transition: all 0.2s cubic-bezier(0.4, 0, 1, 1) 0.1s;

    &:hover {
      //background: #fff;
      .l-header__link {
        color: rgba(1, 99, 167, 1);
        //font-size: 40px;
        //font-size: 2.5em;
        //font-weight: 700;
      }
    }
  }

  &__link {
    display: block;

    color: rgba(255, 255, 255, 1);
    font-family: $SANSFONT;
    font-size: 18px;
    font-size: 1.125em;
    font-weight: 400;
    text-decoration: none;

    transition: all 0.175s cubic-bezier(0.4, 0, 1, 1) 0.1s;
  }

  &__lineWrap {
    width: 100%;
    position: relative;
  }

  &__line {
    position: absolute;
    //left: 1506px;
    //left: 94.125em;
    right: 2.25%;
  }

  &__line--dotted {
    right: 0.5%;
  }
}


.l-team {
  font-size: 16px;
  font-size: 1rem;

  &__body {
    padding: 108px 0;
    padding: 6.75em 0;
  }

  &__content {
    height: 787px;
  }

  &__blocks {
    width: 100%;
    height: 100%;

    position: relative;
  }

  &__block {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

  }
  
  &__blurBlock {
    height: 100%;

    position: relative;
  }

  &__blurBlock__content {
    height: 100%;
    width: 100.3125em;

    position: absolute;
    top: 0;
    right: 0;
  }

  &__blurBlock__imgs {
    width: 100%;
    height: 100%;

    opacity: 0;
    position: relative;

    transition: opacity 0.1s ease-in 0.1s;
  }

  &__blurBlock__teamImg {
    height: 100%;

    background-image: url("../img/bk-team1.jpg");
    background-size: cover;
    background-position: center;
    cursor: none;
  }

  &__blurBlock__bg {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    //background: rgba(0, 0, 0, 0.8);
  }

  &__blurBlock__blur {
    //transition: all 0.2s linear 0.1s;

    position: absolute;
    top: 0;
    left: 0;
    cursor: none;
  }

  &__info {
    //margin: 103px 0 0 95px;
    margin: 115px 0 0 100px;
    //margin: 8.6% 0 0 13%;

    display: inline-block;
    //padding: 100px 95px;
    //position: absolute;
    //top: 5%;
    //left: 20%;
    position: relative;
    z-index: 0;
    cursor: none;
    pointer-events:  none;
  }

  &__text {
    max-width: 642px;

    //margin: 8.6% 0 0 13%;
    //position: absolute;
    //top: 8.6%;
    //left: 13%;
    opacity: 1;

    color: #fff;
    font-family: $RALFONT;
    font-size: 30px;
    font-size: 1.875em;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: 0px;
    //display: none;
    transition: opacity 0.2s ease-in-out 0.1s;
  }

  &__authorBlock {
    height: 100%;

    position: relative;
  }

  &__authorBlock__content {
    height: 100%;
    width: 100.3125em;

    position: absolute;
    top: 0;
    right: 0;
  }

  &__authorBlock__imgs {
    width: 100%;
    height: 100%;

    position: relative;
  }

  &__authorBlock__teamImg {
    height: 100%;

    background-image: url("../img/Kirill.jpg");
    background-size: cover;
    background-position: center;
    cursor: none;
    filter: grayscale(100%)

  }

  &__authorBlock__bg {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
  }
}
/*.l-team {
  font-size: 16px;
  font-size: 1rem;

  &__body {
    padding: 108px 0;
    padding: 6.75em 0;
  }

  &__content {
    height: 787px;

    position: relative;
  }

  &__imgs {
    width: 100.3125em;
    //min-width: 78%;
    //max-width: 79%;
    height: 100%;

    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;

    transition: all 0.1s ease-in 0.1s;
  }

  &__imgs__content {
    height: 100%;
    position: relative;
  }

  &__img {
    height: 100%;

    background-image: url("../img/bk-team1.jpg");
    background-size: cover;
    cursor: none;
  }

  &__blur {
    //transition: all 0.2s linear 0.1s;

    position: absolute;
    top: 0;
    left: 0;
    cursor: none;
  }

  &__blur__bg {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
  }

  &__firstBlock {
    height: 100%;

    opacity: 0;
    //position: relative;
    transition: all 0.2s ease-in 0.1s;
  }

  &__info {
    //margin: 103px 0 0 95px;
    margin: 115px 0 0 100px;
    //margin: 8.6% 0 0 13%;

    display: inline-block;
    //padding: 100px 95px;
    //position: absolute;
    //top: 5%;
    //left: 20%;
    position: relative;
    z-index: 0;
    cursor: none;
    pointer-events:  none;

    &--author {
      margin: 0;

      position: absolute;
      top: 115px;
      //left: 100px;
    }
  }

  &__text {
    max-width: 642px;

    //margin: 8.6% 0 0 13%;
    //position: absolute;
    //top: 8.6%;
    //left: 13%;
    opacity: 1;

    color: #fff;
    font-family: $RALFONT;
    font-size: 30px;
    font-size: 1.875em;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: 0px;
    //display: none;
    transition: opacity 0.2s ease-in-out 0.1s;

    &.is-active {
      opacity: 0;
    }
  }

  &__secondBlock {
    width: 100.3125em;
    min-width: 78%;
    //max-width: 79%;
    height: 100%;

    position: absolute;
    top: 0;
    right: 0;
    transition: all 0.1s linear 0.1s;
  }

  &__secondBlock__content {
    height: 100%;

    position: relative;
  }

  &__author {
    max-width: 100%;
    height: 100%;
    width: 100%;
    display: inline-block;
    filter: grayscale(100%)
  }

  &__author__bg {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    //right: 0;
    background: rgba(0, 0, 0, 0.7);
  }

  &__textWrap {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
  }
}*/

.l-why {
  //padding: 130px 0;
  //padding: 8.125em 0;
  padding: 120px 0;
  padding: 7.5em 0;

  background-image: url("../img/whyBg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  font-size: 16px;
  font-size: 1rem;

  &__header {
    //padding-left: 24px;
    //padding-left: 1.5em;
  }

  &__head {
    max-width: 820px;
    max-width: 16.4em;

    position: relative;

    color: #fff;
    font-family: $RALFONT;
    font-size: 50px;
    font-size: 3.125em;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;

    &:before {
      content: "*";
      position: absolute;
      left: -15px;
    }
  }

  &__body {
    //padding-left: 36px;
    //padding-left: 2.25em;

    //margin-top: 90px;
    //margin-top: 5.625em;
    margin-top: 65.6px;
    margin-top: 4.1em;
  }

  &__list {

  }

  &__item:not(:first-child) {
    //margin-top: 70px;
    //margin-top: 4.375em;
    margin-top: 44.8px;
    margin-top: 2.8em;
  }

  &__text {
    color: #fff;
    font-family: $SANSFONT;
    font-size: 30px;
    font-size: 1.875em;
    line-height: 1.466;
  }
}

.l-portret {
  //padding: 136px 0;
  //padding: 8.5em 0;
  padding: 128px 0;
  padding: 8.1em 0;
  width: 100%;

  position: relative;
  overflow: hidden;

  font-size: 16px;
  font-size: 1rem;

  &__hand {
    max-width: 712px;
    //max-width: 44.5em;
    max-width: 41%;
    max-height: 775px;
    max-height: 48.4375em;

    position: absolute;
    z-index: -1;

    &--left {
      left: 0;
      bottom: 6%;
    }

    &--right {
      right: 0;
      top: 12.75%;
    }
  }

  &__head {
    color: #000;
    font-family: $RALFONT;
    font-size: 50px;
    font-size: 3.125em;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__body {
    //margin-top: 105px;
    //margin-top: 6.5625em;
    margin-top: 78.4px;
    margin-top: 4.9em;
  }

  &__list {

  }

  &__item:not(:first-child) {
    //margin-top: 80px;
    //margin-top: 5em;
    margin-top: 51.2px;
    margin-top: 3.2em;
  }

  &__item {
    max-width: 632px;
    max-width: 39.5em;

    &--third {
      //margin-left: 94px;
      //margin-left: 5.875em;
      margin-left: 8.5%;
    }

    &--fourth {
      //margin-left: 188px;
      //margin-left: 11.77em;
      margin-left: 17%;
    }

    &--fifth {
      margin-left: 25.5%;
    }

    &--sixth {
      margin-left: 34%;
    }

    &--last {
      float: right;
    }
  }

  &__text {

    color: rgba(119, 119, 119, 1);
    font-family: $SANSFONT;
    font-size: 24px;
    font-size: 1.5em;
    line-height: 1.4;

    &--head {
      max-width: 97%;

      //margin-bottom: 38px;
      //margin-bottom: 0.95em;
      margin-bottom: 12px;
      margin-bottom: 0.3em;

      color: #000;
      font-family: $RALFONT;
      font-size: 40px;
      font-size: 2.5em;
      font-weight: 600;
    }
  }
}

.l-contacts {
  font-size: 16px;
  font-size: 1rem;

  &__body {
    //padding: 103px 0;
    //padding: 6.4375em 0;
    padding: 98.4px 0;
    padding: 6.15em 0;

    position: relative;
  }

  &__bg {
    width: 1605px;
    width: 100.3125em;
    min-width: 78%;
    max-width: 96%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;

    background: rgba(232, 239, 244, 0.38);
    background: linear-gradient(to bottom, rgba(212, 233, 240, 1) 0%, rgba(178, 192, 231, 1) 100%);

  }

  &__leftPart {
    //max-width: 40%;
    max-width: 27.5em;

    float: left;
  }

  &__rightPart {
    //max-width: 50%;
    max-width: 34.375em;

    float: right;
  }

  &__head {
    color: #000;
    font-family: $RALFONT;
    font-size: 50px;
    font-size: 3.125em;
    font-weight: 800;
    text-transform: uppercase;
  }

  &__text {
    //margin-top: 75px;
    margin-top: 55px;
    margin-top: 1.833em;


    color: #000;
    font-family: $SANSFONT;
    font-size: 30px;
    font-size: 1.875em;
    line-height: (42/30);

    &--last {
      margin-top: 45px;
      margin-top: 1.5em;
    }
  }

  &__form {
    padding: 65px 70px;
    padding: 4.0625em 4.375em;

    background: #fff;
  }

  &__footer {
    padding: 111px 0;
    padding: 6.9375em 0;
  }

  &__contact {
    display: inline-block;
  }

  &__contact:last-child {
    margin-left: 94px;
    margin-left: 5.875em;
  }

  &__link {
    color: #000;
    font-family: $SANSFONT;
    font-size: 30px;
    font-size: 1.875em;
    line-height: (42/30);
    text-decoration: none;
  }
}

.l-footer {
  font-size: 16px;
  font-size: 1rem;
  
  &__content {
    padding: 56px 0;
    padding: 3.5em 0;

    background: rgba(230, 230, 230, 1);
  }
  &__leftPart {
    float: left;
  }

  &__rightPart {
    float: right;
  }

  &__text {
    color: rgba(105, 105, 105, 1);
    font-family: $SANSFONT;
    font-size: 14px;
    font-size: 0.875em;
    font-weight: 300;
  }

  &__text:not(:first-child) {
    margin-top: 7px;
    margin-top: 0.5em;
  }

  &__social {
    display: inline-block;

    margin: 0.5em 0.75em;
  }

  &__icon {
    width: 100%;
    max-width: 16px;
    max-height: 16px;

    fill: rgba(105, 105, 105, 1);
    display: inline-block;
    cursor: pointer;
    transition: fill 0.2s linear 0.1s;

    &:hover {
      fill: #000;
    }
  }
}