.l-header {
  //padding: 144px 0;
  //padding: 9em 0;
  height: 100vh;
  padding: 135.2px 0;
  padding: 8.45em 0;

  background-image: url("../../img/headerBg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;

  font-size: 16px;
  font-size: 1rem;

  @include  media("<=desktop") {
    padding: 4.225em 0;
  }

  @include media("<=tablet") {
    padding: 3.5em 0;
    height: auto;
    //min-height: 48em;
    //padding: 4.225em 0;
  }


  @include media("<=phone") {
    padding: 2.25em 0 4.225em;
  }

  &__content {
    height: 100%;
    position: relative;
  }

  &__body {
    //margin: 72px 0;
    //margin: 4.5em 0;
    margin: 46.4px 0;
    margin: 2.9em 0;
  }

  &__head {
    //max-width: 785px;
    //max-width: 11.21em;
    max-width: 820px;

    color: rgba(255, 255, 255, 1);
    font-size: 70px;
    font-size: 4.375em;
    font-weight: 800;
    text-transform: uppercase;
    line-height: (80px/70px);
    letter-spacing: 2px;

    @include media("<=phone") {
      font-size: 1.8333em;
      letter-spacing: 1px;
    }
  }

  &__footer {
    //margin-top: 338px;
    //margin-top: 21.125em;
    //margin-top: 328px;
    //margin-top: 22.5em;
    //margin-top: 19%;

    position: absolute;
    bottom: 0;

    @include media("<=desktop") {
      //margin-top: 11em;
    }


    @include media("<=tablet") {
      position: static;
      margin-top: 10em;
    }

    @include media("<=phone") {
      margin-top: 5em;
    }
  }

  &__note {
    height: 87px;
    height: 2.175em;
    line-height: 87px;
    line-height: 2.175em;
    padding: 0 45px;
    padding: 0 1.125em;

    background: #fff;
    display: inline-block;
    vertical-align: middle;

    color: rgba(1, 99, 167, 1);
    font-family: $RALFONT;
    font-size: 40px;
    font-size: 2.5em;
    font-weight: 700;
    cursor: pointer;
    transition: background 0.1s ease-in 0.1s;

    &:hover {
      background: rgba(1, 99, 167, 1);

      .l-header__link--note {
        color: #fff;
      }
    }

    @include media("<=phone") {
      font-size: 1.8333em;
    }
  }

  &__button {
    height: 87px;
    line-height: 87px;
    padding: 0 45px;
    padding: 0 1.125em;

    background: rgba(255, 255, 255, 0);
    display: inline-block;
    vertical-align: middle;
    margin: 0 24px;
    margin: 0 1.5em;

    transition: all 0.2s cubic-bezier(0.4, 0, 1, 1) 0.1s;

    &:hover {
      //background: #fff;
      .l-header__link {
        color: rgba(1, 99, 167, 1);
        //font-size: 40px;
        //font-size: 2.5em;
        //font-weight: 700;
      }
    }

    @include media("<=phone") {
      height: auto;
      line-height: 1;
    }

    &--footer {
      @include media("<=phone") {
        display: none;
      }
    }

    &--body {
      display: none;
      @include media("<=phone") {
        padding: 0;

        display: inline-block;
        margin: 20px 0;
        margin: 1.6667em 0;
      }
    }
  }

  &__link {
    display: block;

    color: rgba(255, 255, 255, 1);
    font-family: $SANSFONT;
    font-size: 18px;
    font-size: 1.125em;
    font-weight: 400;
    text-decoration: none;
    outline: none;

    transition: all 0.175s cubic-bezier(0.4, 0, 1, 1) 0.1s;

    &:visited {
      color: rgba(255, 255, 255, 1);
    }

    &:focus {
      color: rgba(255, 255, 255, 1);
    }

    &--note {
      color: rgba(1, 99, 167, 1);
      font-weight: 500;
      text-decoration: none;

      transition: color 0.15s linear 0.1s;
    }
  }

  &__lineWrap {
    width: 100%;
    position: relative;
  }

  &__line {
    position: absolute;
    //left: 1506px;
    //left: 94.125em;
    right: 2.25%;
  }

  &__line--dotted {
    right: 0.5%;
  }
}
