.l-team {
  font-size: 16px;
  font-size: 1rem;

  &__body {
    padding: 108px 0;
    padding: 6.75em 0;

    overflow: hidden;

    @include media("<=desktop") {
      padding: 3em 0;
    }

    @include media("<=tablet") {
      //padding: 3.375em 0;
      padding: 1.6875em 0;
    }

    @include media("<=phone") {
      padding: 4px 0;
    }
  }

  &__content {
    height: 787px;
    height: 49.1875em;

    @include media("<=tablet") {
      height: 68em;
    }

    @include media("<=phone") {
      height: 55em;
    }
  }

  &__blocks {
    width: 100%;
    height: 100%;

    position: relative;
  }

  &__block {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    //transition: all 1s linear 0.1s;

    &--hide {
      //opacity: 0;
      z-index: 5;

      &.is-active {
        opacity: 0;

      }
    }


    @include media("<=tablet") {
      //max-height: 271px;
      //max-height: 22.583em;
      max-height: 33em;

      margin: 1em 0;
      position: static;
      opacity: 1;
    }

    @include media("<=phone") {
      max-height: 22.583em;

    }

    &--show {
      @include media("<=phone") {
        max-height: 30em;

      }
    }
  }

  &__blurBlock {
    height: 100%;

    position: relative;
  }

  &__blurBlock__content {
    height: 100%;
    //width: 100.3125em;
    width: 93.85em;
    max-width: 90%;

    position: absolute;
    top: 0;
    right: 0;

    @include media("<=desktop") {
      max-width: 95%;
      //width: 100%;
      //max-width: 100%;
    }

    @include media("<=tablet") {
      width: 100%;
      max-width: 100%;
    }
  }

  &__blurBlock__imgs {
    width: 100%;
    height: 100%;

    opacity: 1;
    position: relative;

    transition: opacity 0.1s ease-in 0.1s;
  }

  &__blurBlock__teamImg {
    height: 100%;

    background-image: url("../img/team22.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: none;

    @include media("<=tablet") {
      background-size: 100% 100%;
    }


      @include media("<=phone") {
        background-size: cover;
      }
  }

  &__blurBlock__bg {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0);
  }

  &__blurBlock__blur {
    //transition: all 0.2s linear 0.1s;

    position: absolute;
    top: 0;
    left: 0;
    cursor: none;
  }

  &__info {
    //margin: 103px 0 0 95px;
    //margin: 115px 0 0 100px;
    //margin: 8.6% 0 0 13%;
    margin: 90px 0 0 100px;
    margin: 5.625em 0 0 6.25em;

    display: inline-block;
    //padding: 100px 95px;
    //position: absolute;
    //top: 5%;
    //left: 20%;
    position: relative;
    z-index: 0;
    cursor: none;
    pointer-events: none;

    @include media("<=desktop") {
    margin: 6.25em 0 0 6.25em;
  }

    @include media("<=tablet") {
      margin-left: 0;
    }

    @include  media("<=phone") {
      margin: 1.7em 0;
    }
  }

  &__text {
    max-width: 642px;

    //margin: 8.6% 0 0 13%;
    //position: absolute;
    //top: 8.6%;
    //left: 13%;
    opacity: 1;

    color: #fff;
    font-family: $RALFONT;
    font-size: 30px;
    font-size: 1.875em;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: 0px;
    //display: none;
    transition: opacity 0.2s ease-in-out 0.1s;
  }

  &__authorBlock {
    height: 100%;

    position: relative;
  }

  &__authorBlock__content {
    height: 100%;
    width: 93.85em;
    max-width: 90%;


    position: absolute;
    top: 0;
    right: 0;

    @include media("<=desktop") {
      max-width: 95%;
    }

    @include media("<=tablet") {
      width: 100%;
      max-width: 100%;
    }
  }

  &__authorBlock__imgs {
    width: 100%;
    height: 100%;

    position: relative;
  }

  &__authorBlock__teamImg {
    height: 100%;

    background-image: url("../img/Kirill.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: none;
    filter: grayscale(100%);

    @include media("<=tablet") {
      background-size: cover;
    }
  }

  &__authorBlock__bg {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    //background: rgba(0, 0, 0, 0.7);
  }
}

.l-team__block--hide {
  //animation: inForBlock 0.5s 1 ease-in;
  //background: rgba(114,  200, 214, 0.5);
}

.l-team__block--hide.is-hide{
  //opacity: 0;
  //width: 0;
  //height: 100%;
  //height:25%;
  //height: 0;
  //left: 60%;
  //top: 40%;


  //display: none;
  //z-index: -5;
  opacity: 1;
  overflow: hidden;
  //animation: outForBlock 1.75s 1 cubic-bezier(0, 0, 0.54, 1.33);

  .l-team__info {
    display: none;
  }
}

#showingBlock.is-active {
  opacity: 1;
}



.l-team__authorBlock {
}

.l-team__authorBlock__content.is-hide {
  opacity: 0;
  width: 0px;
  animation: outForBlock 0.6s 1 linear;

}
