.l-video {
  font-size: 16px;
  font-size: 1rem;

  &__header {
    @include media("<=desktop") {
      margin-top: 2em;
    }

    @include media("<=phone") {
      margin-top: 0;
    }
  }

  &__head {
    color: #000;
    font-family: $RALFONT;
    font-size: 50px;
    font-size: 3.125em;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;

    @include media("<=tablet") {
      padding: 0.75em 0;
    }

    @include media("<=phone") {
      padding: 0 0 1.2727em;
      font-size: 1.833em;
      line-height: 1.2;
      letter-spacing: 1px;
    }
  }

    &__body {
      margin: 85px 0 110px;
      margin: 5.3125em 0 6.25em;

      @include media("<=desktop") {
        margin: 3.125em 0 3.125em;
      }

      @include media("<=phone") {
        margin: 0 0 1.5833em 0;
      }
    }

    &__lineWrap {
      position: relative;
    }

    &__line {
      position: absolute;
      top: -16px;
      right: 2.5%;
      z-index: 5;

      //transition: transform 0.1s linear 0.1s;

      &--dotted {
        top: 5px;
        right: 0%;
        z-index: 0;
      }
    }
}