.l-why {
  //padding: 130px 0;
  //padding: 8.125em 0;
  padding: 120px 0;
  padding: 7.5em 0;

  background-image: url("../../img/whyBg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  font-size: 16px;
  font-size: 1rem;

  @include media("<=phone") {
    padding: 3.5833em 0 ;
    background-position: left;
  }

  &__header {
    //padding-left: 24px;
    //padding-left: 1.5em;
  }

  &__head {
    max-width: 820px;
    max-width: 16.4em;

    position: relative;

    color: #fff;
    font-family: $RALFONT;
    font-size: 50px;
    font-size: 3.125em;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: 2px;
    text-transform: uppercase;

    &:before {
      content: "*";
      position: absolute;
      left: -15px;
    }

    @include media("<=phone") {
      font-size: 1.8333em;
      letter-spacing: 1px;
      line-height: 1.2;
    }
  }

  &__body {
    //padding-left: 36px;
    //padding-left: 2.25em;

    //margin-top: 90px;
    //margin-top: 5.625em;
    margin-top: 65.6px;
    margin-top: 4.1em;

    @include media("<=phone") {
      margin-top: 3.5em;
    }
  }

  &__list {

  }

  &__item {
    position: relative;
  }

  &__item:not(:first-child) {
    //margin-top: 70px;
    //margin-top: 4.375em;
    margin-top: 44.8px;
    margin-top: 2.8em;

    @include media("<=phone") {
      margin-top: 2.5em;
    }
  }

  &__text {
    max-width: 52%;

    color: #fff;
    font-family: $SANSFONT;
    font-size: 30px;
    font-size: 1.875em;
    line-height: 1.466;

    @include media("<=desktop") {
      max-width: 37%;
    }

    @include media("<=tablet") {
      max-width: 53%;
    }



    @include media("<=phone") {
      max-width: 90%;

      font-size: 1.5em;
    }
  }

  &__shape {
    position: absolute;
    right: 0;
  }

  &__lineWrap {
    position: relative;

    @include media("<=desktop") {
      display: none;
    }
  }

  &__line {
    position: absolute;
    left: -65px;
    top: -50px;
    //transition: transform 0.1s linear 0.1s;
  }
}