.l-portret {
  //padding: 136px 0;
  //padding: 8.5em 0;
  padding: 128px 0;
  padding: 8.1em 0;
  width: 100%;

  position: relative;
  //overflow: hidden;

  font-size: 16px;
  font-size: 1rem;

  @include media("<=tablet") {
    padding: 4.05em 0;
  }

  &__hand {
    //max-width: 712px;
    //max-width: 44.5em;
    //max-width: 41%;
    //max-height: 775px;
    //max-height: 48.4375em;

    max-width: 47%;
    max-height: 990px;

    position: absolute;
    z-index: -1;

    &--left {
      left: 0;
      bottom: 7%;

      @include media("<=desktop") {
        bottom: 5%;
        left: -3%;
      }
    }

    &--right {
      right: 0;
      top: 12.75%;
    }

    @include media("<=phone") {
      display: none;
    }
  }

  &__head {
    color: #000;
    font-family: $RALFONT;
    font-size: 50px;
    font-size: 3.125em;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;

    @include media("<=phone") {
      font-size: 1.8333em;
      letter-spacing: 1px;
      line-height: 1.2;
    }
  }

  &__body {
    //margin-top: 105px;
    //margin-top: 6.5625em;
    margin-top: 78.4px;
    margin-top: 4.9em;

    @include media("<=phone") {
      margin-top: 3.5833em;
    }
  }

  &__list {
    min-height: 768px;

    @include media("<=phone") {
      min-height: 0;
    }
  }

  &__item:not(:first-child) {
    //margin-top: 80px;
    //margin-top: 5em;
    margin-top: 51.2px;
    margin-top: 3.2em;

    @include media("<=phone") {
      margin-top: 2.666em;
    }
  }

  &__item {
    opacity: 0;
    //display: none;
    max-width: 632px;
    max-width: 39.5em;
    clear: both;
    position: relative;

    @include media("<=tablet") {
      max-width: 90%;
    }

    @include media("<=phone") {
      padding-left: 3.5%;
      max-width: none;
    }



    &--third {
      //margin-left: 94px;
      //margin-left: 5.875em;
      margin-left: 8.5%;

      @include media("<=tablet") {
        margin-left: 0;
      }
    }

    &--fourth {
      //margin-left: 188px;
      //margin-left: 11.77em;
      margin-left: 17%;

      @include media("<=tablet") {
        margin-left: 0;
      }
    }

    &--fifth {
      margin-left: 25.5%;

      @include media("<=tablet") {
        margin-left: 0;
      }
    }

    &--sixth {
      margin-left: 34%;

      @include media("<=tablet") {
        margin-left: 0;
      }
    }

    &--last {
      float: right;

      @include media("<=tablet") {
        float: none;
      }
    }
  }

  &__text {

    color: rgba(119, 119, 119, 1);
    font-family: $SANSFONT;
    font-size: 24px;
    font-size: 1.5em;
    line-height: 1.4;

    @include media("<=phone") {
      display: none;
    }

    &--head {
      max-width: 97%;

      //margin-bottom: 38px;
      //margin-bottom: 0.95em;
      margin-bottom: 12px;
      margin-bottom: 0.3em;

      color: #000;
      font-family: $RALFONT;
      font-size: 40px;
      font-size: 2.5em;
      font-weight: 600;
      line-height: 1.1;

      @include media("<=phone") {
        display: block;

        font-size: 1.833em;
        font-weight: 500;
      }
    }
  }

  &__dot {
    position: absolute;
    left: 0%;
    //top: 30%;
    top: 10px;
    display: none;

    max-width: 4px;
    max-height: 4px;

    @include media("<=phone") {
      display: block;
    }
  }

  &__lineWrap {
    position: relative;
  }

  &__line {
    position: absolute;
    //left: -120px;
    top: -20px;
    left: -9%;
    z-index: 5;

    //transition: transform 0.1s cubic-bezier(0, 0, 0.37, 1.02) 0.1s;
  }
}