.l-contacts {
  font-size: 16px;
  font-size: 1rem;

  &__body {
    //padding: 103px 0;
    //padding: 6.4375em 0;
    padding: 98.4px 0;
    padding: 6.15em 0;

    position: relative;
    //overflow: hidden;

    @include media("<=tablet") {
      padding: 3.075em 0;
    }

  }

  &__bg {
    width: 1605px;
    width: 100.3125em;
    min-width: 78%;
    max-width: 96%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;

    background: rgba(232, 239, 244, 0.38);
    background: linear-gradient(to bottom, rgba(212, 233, 240, 1) 0%, rgba(178, 192, 231, 1) 100%);

    @include media("<=desktop") {
      max-width: 94.5%;
    }

    @include media("<=tablet") {
      max-width: 100%;
    }

  }

  &__leftPart {
    //max-width: 40%;
    max-width: 27.5em;

    float: left;

    @include media("<=desktop") {
      max-width: 50%;
      padding-right: 5%;

      //max-width: 25em;

      //display: inline-block;
      //vertical-align: top;
      //float: none;
    }

    @include media("<=tablet") {
      max-width: 100%;

      display: block;
      //float: none;
    }
  }

  &__rightPart {
    //max-width: 50%;
    max-width: 34.375em;

    float: right;

    @include media("<=desktop") {
      padding: 0 5%;
      max-width: 50%;

      //max-width: 30em;
      //margin-left: 7em;
      //display: inline-block;
      //float: none;
    }

    @include media("<=tablet") {
      max-width: 100%;

      margin-left: 0;
      display: block;
      //float: none;
    }

    @include media("<=phone") {
      padding: 0;
    }
  }

  &__head {
    color: #000;
    font-family: $RALFONT;
    font-size: 50px;
    font-size: 3.125em;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: left;

    @include media("<=phone") {
      font-size: 1.8333em;
      letter-spacing: 1px;
      line-height: 1.2;
    }
  }

  &__text {
    //margin-top: 75px;
    margin-top: 55px;
    margin-top: 1.833em;


    color: #000;
    font-family: $SANSFONT;
    font-size: 30px;
    font-size: 1.875em;
    text-align: left;
    line-height: (42/30);

    &--last {
      margin-top: 45px;
      margin-top: 1.5em;
    }

    @include media("<=desktop") {
      font-size: 2em;
    }

    @include media("<=phone") {
      font-size: 1.3333em;
    }
  }

  &__form {
    padding: 65px 70px;
    padding: 4.0625em 4.375em;

    background: #fff;

    @include media("<=desktop") {
      padding: 2em;
    }

    @include media("<=tablet") {
      padding: 1.5em 2em;
      max-width: 65%;

      margin: 2em auto 0;
    }

    @include media("<=phone") {
      padding: 1.3333em;
      max-width: 100%;
    }
  }

  &__footer {
    padding: 111px 0;
    padding: 6.9375em 0;

    @include media("<=tablet") {
      padding: 3.46875em 0;
    }

    @include media("<=phone") {
      padding: 3em 0;
    }
  }

  &__contact {
    display: inline-block;

    @include media("<=tablet") {
      display: block;
    }
  }

  &__contact:last-child {
    margin-left: 94px;
    margin-left: 5.875em;

    @include media("<=tablet") {
      margin-left: 0;
    }
  }

  &__link {
    color: #000;
    font-family: $SANSFONT;
    font-size: 30px;
    font-size: 1.875em;
    line-height: (42/30);
    text-decoration: none;

    @include media("<=phone") {
      font-size: 1.333em;
    }
  }

  &__lineWrap {
    clear: both;
    position: relative;

    &--snake {
      height: 100%;
    }

    @include media("<=desktop") {
      display: none;
    }
  }

  &__line {
    position: absolute;

    &--first {
      top: -200px;
      left: -10%;

      @include media("<=desktop") {
        left: -1%;
      }
    }

    &--second {
      left: -15%;
      top: -47px;

      @include media("<=desktop") {
        left: -8%;
      }
    }

    &--decor {
      left: -7.5%;
      top: -115px;

      @include media("<=desktop") {
        top: -100px;
        left: 2%;
      }
    }

    &--third {
      top: -130px;
      left: -10%;
    }

    &--fourth {
      right: -4.25%;
      bottom: -11%;
      width: 10em;

      @include media("<=desktop") {
        //right: 0%;
        display: none;
      }
    }
  }
}
