.l-footer {
  font-size: 16px;
  font-size: 1rem;

  &__content {
    padding: 56px 0;
    padding: 3.5em 0;

    background: rgba(230, 230, 230, 1);

    @include media("<=phone") {
      padding: 1.75em 0;
    }
  }
  &__leftPart {
    float: left;

    @include media("<=phone") {
      width: 100%;

      margin: 1.8333em 0 0;
      float: right;
    }
  }

  &__rightPart {
    float: right;

    @include media("<=phone") {
      width: 100%;

      float: left;
    }
  }

  &__text {
    color: rgba(105, 105, 105, 1);
    font-family: $SANSFONT;
    font-size: 14px;
    font-size: 0.875em;
    font-weight: 300;
  }

  &__text:not(:first-child) {
    margin-top: 7px;
    margin-top: 0.5em;
  }

  &__social {
    display: inline-block;
    margin: 0.5em 0.85em;
  }

  &__icon {
    width: 100%;
    max-width: 16px;
    max-height: 16px;

    fill: rgba(105, 105, 105, 1);
    display: inline-block;
    cursor: pointer;
    transition: fill 0.2s linear 0.1s;

    &:hover {
      fill: #000;
    }

    @include media("<=phone") {
      max-width: 22px;
      max-height: 22px;
    }
  }
}

.l-footer__social--first {
  margin-left: 0;
}