.c-logo {
  font-size: 16px;
  font-size: 1rem;
}

.c-logo__img {
  max-width: 260px;
  max-height: 63px;
  max-width: 16.25em;
  max-height: 3.9375em;
}

.c-decorLine {
  width: 6px;
  width: 0.375em;
  height: 154em;
  height: 9.625em;

  background: rgba(255, 255, 255, 1);

  font-size: 16px;
  font-size: 1em;
}

.c-decorDotted {
  font-size: 16px;
  font-size: 1em;

  &__item {
    width: 6px;
    width: 0.375em;
    height: 4em;
    height: 0.25em;

    background: rgba(255, 255, 255, 1);
  }

  &__item:not(:first-child) {
    margin-top: 12px;
    margin-top: 0.75em;
  }
}

.c-form {
  font-size: 16px;
  font-size: 1rem;

  &__input {
    padding: 13px 36px 13px 18px;
    padding: 0.65em 1.8em 0.65em 0.9em;
    width: 100%;

    border: 1px solid rgba(224, 224, 224, 1);
    background-image: url("../img/cancel--none.svg");
    background-repeat: no-repeat;
    background-position: 98.5% 50%;
    background-size: 15px 15px;
    outline: none;

    color: rgba(154, 154, 154, 1);
    font-family: $SANSFONT;
    font-size: 20px;
    font-size: 1.25em;

    transition: all 0.5s linear 0.1s, border 0.3s linear 0.1s;
  }

  &__input:not(:first-child) {
    margin-top: 20px;
    margin-top: 1em;
  }

  &__input:focus {
    border: 1px solid #000;
    color: #000;
  }

  &__input--required {
    background-repeat: no-repeat;
    background-position: 98.5% 50%;
    background-size: 15px 15px;
    &:focus {
      background-image: url("../img/cancel--red.svg");
    }

    //&:focus:invalid {
    //  background-image: url("../img/cancel--red.svg");
    //  background-repeat: no-repeat;
    //  background-position: 98.5% 50%;
    //  background-size: 15px 15px;
    //}

    &.error {
      background-image: url("../img/cancel--red.svg");
    }

    &.valid {
      background-image: url("../img/done--green.svg");

    }
  }

  & label.error {
    display: none !important;
  }

  &__button {
    border: 1px solid rgba(224, 224, 224, 1);
    //border: 1px solid #000;
    background: #fff;
    cursor: pointer;

    color: rgba(154, 154, 154, 1);
    //color: #000000;
    transition: all 0.2s cubic-bezier(0, 0, 0.49, 1.19) 0.1s;

    &:focus {
      color: rgba(154, 154, 154, 1);
    }

    &:active {
      color: rgba(154, 154, 154, 1);
    }

    &.is-active {
      border: 1px solid rgba(136, 136, 136, 1);
      color: #000;

      &:hover {
        background: #1a5bdd;
        color: #fff;
      }

      &:focus {
        color: #fff;
      }

      &:active {
        color: #fff;
      }
    }
  }

  &__download {
    margin-top: 16px;
  }
}

/*.c-form {
  font-size: 16px;
  font-size: 1rem;

  &__input {
    //padding: 22px 18px;
    //padding: 1.1em 0.9em;
    padding: 13px 36px 13px 18px;
    padding: 0.65em 1.8em 0.65em 0.9em;
    width: 100%;

    border: 1px solid rgba(224, 224, 224, 1);
    outline: none;

    color: rgba(154, 154, 154, 1);
    font-family: $SANSFONT;
    font-size: 20px;
    font-size: 1.25em;

    transition: border 0.3s linear 0.1s;

    &:focus {
      border: 1px solid #000;
      color: #000;
    }

    &--required

    &:focus:invalid {
      //background-color: #ea5050;
      background-image: url("../img/cancel--red.svg");
      background-repeat: no-repeat;
      background-position: 98.5% 50%;
      background-size: 15px 15px;
    }

    &:focus:valid {
      //background-color: #ea5050;
      background-image: url("../img/done--green.svg");
      background-repeat: no-repeat;
      background-position: 98.5% 50%;
      background-size: 15px 15px;
    }
  }

  &__input:not(:first-child) {
    margin-top: 20px;
    margin-top: 1em;
  }

  &__input:required:valid {
    box-shadow: 0 0 5px #5cd053;
    border-color: #28921f;
}

  &__button {
    border: 1px solid rgba(224, 224, 224, 1);
    //border: 1px solid #000;
    background: #fff;
    cursor: pointer;

    color: rgba(154, 154, 154, 1);
    //color: #000000;
    transition: all 0.2s cubic-bezier(0, 0, 0.49, 1.19) 0.1s;

    &:focus {
      color: rgba(154, 154, 154, 1);
    }

    &:active {
      color: rgba(154, 154, 154, 1);
    }

    &.is-active {
      border: 1px solid rgba(136, 136, 136, 1);
      color: #000;

      &:hover {
        background: #1a5bdd;
        color: #fff;
      }

      &:focus {
        color: #fff;
      }

      &:active {
        color: #fff;
      }
    }
  }

  &__download {
    margin-top: 20px;
    margin-top: 1em;
    display: block;
  }

  &__pullDoc {
    display: none;
  }

  .error {
    display: block;

    text-align: center;
  }
}*/

.c-download {
  font-size: 16px;
  font-size: 1rem;

  &__content {
    width: 100%;
    height: 3.75em;
    line-height: 3.75em;

    position: relative;
    overflow: hidden;
    cursor: pointer;

    &:hover {
      .c-download__icon {
        fill: rgba(26, 91, 221, 1);
      }

      .c-download__block--first {
        opacity: 0;
        z-index: 0;
      }

      .c-download__block--second {
        opacity: 1;
        z-index: 5;
      }
    }
  }

  &__icon {
    max-width: 40px;
    max-height: 40px;
    max-width: 2.5em;
    max-height: 2.5em;

    fill: rgba(149, 175, 236, 1);
    transition: all 0.1s ease-in 0.1s;

    position: absolute;
    top: 14%;
    z-index: 10;

    &.is-active {
      opacity: 0;
      z-index: 0;
      transition: all 0.1s ease-out 0.1s;

    }
  }
  &__block {
    padding-left: 12.5%;
    width: 100%;

    display: inline-block;
    vertical-align: middle;
    //margin-left: 16px;
    //margin-left: 1em;
    position: absolute;
    background: #fff;
    transition: all 0.2s linear 0.1s;

    &--first {
      z-index: 5;
      transition-duration: 0.3s;
    }
    &--second {
      z-index: 0;
      opacity: 0;
    }
    &--link {
      padding-left: 0;
      width: 100%;

      z-index: 0;
      opacity: 0;
      left: 0;

      &.is-active {
        z-index: 10;
        opacity: 1;
        transition: all 0.2s linear 0.1s;
      }
    }

    &--file {
      padding-left: 0;
      width: 100%;

      z-index: 0;
      opacity: 0;
      left: 0;
      transition: all 0.2s linear 0.1s;

      &.is-active {
        z-index: 10;
        opacity: 1;
        background: #fff;

      }
    }
  }

  &__text {
    display: inline-block;

    color: rgba(154, 154, 154, 1);
    font-family: $SANSFONT;
    font-size: 20px;
    font-size: 1.25em;
    cursor: pointer;
    transition: all 0.2s linear 0.1s;

    &--file{
      margin-left: 0.8em;
    }

    &:hover {
      color: #000;
    }
  }

  &__input {
    padding: 13px 36px 13px 18px;
    padding: 0.65em 1.8em 0.65em 0.9em;
    width: 100%;

    border: 1px solid rgba(224, 224, 224, 1);
    background-image: url("../img/cancel--none.svg");
    background-repeat: no-repeat;
    background-position: 98.5% 50%;
    background-size: 15px 15px;
    outline: none;

    color: rgba(154, 154, 154, 1);
    font-family: $SANSFONT;
    font-size: 20px;
    font-size: 1.25em;

    transition: all 0.2s linear 0.1s, border 0.3s linear 0.1s;
  }

  &__input:not(:first-child) {
    margin-top: 20px;
    margin-top: 1em;
  }

  &__input:focus {
    border: 1px solid #000;
    color: #000;
  }

  &__cancel {
    padding: .3125em;
    width: 100%;
    max-width: 20px;
    max-width: 1.25em;
    max-height: 20px;
    max-height: 1.25em;

    display: inline-block;
    top: 0;
    right: 0;
    position: absolute;
    background: #fff;
  }

  &__file {
    display: none;
  }

  &__fileName {
    opacity: 1;
    padding-left: 5%;
    color: #000;
    font-style: italic;

    transition: all 0.1s ease-in-out 0.1s;
  }
}

/*
.c-download {
  font-size: 16px;
  font-size: 1rem;

  &__content {
    width: 100%;
    height: 3.75em;
    line-height: 3.75em;

    position: relative;
    overflow: hidden;
    cursor: pointer;

    &:hover {
      .c-download__icon {
        fill: rgba(26, 91, 221, 1);
      }

      .c-download__text--first {
        //left: -100%;
        opacity: 0;
        width: 0;
      }

      .c-download__selection {
        left: 3.15em;
      }
    }
  }
  &__icon {
    max-width: 40px;
    max-height: 40px;
    max-width: 2.5em;
    max-height: 2.5em;

    fill: rgba(149, 175, 236, 1);
    display: inline-block;
    vertical-align: middle;
    transition: all 0.2s ease-out 0.1s;
  }
  &__text {
    display: inline-block;
    vertical-align: middle;
    margin-left: 16px;
    margin-left: 0.8em;

    color: rgba(154, 154, 154, 1);
    font-family: $SANSFONT;
    font-size: 20px;
    font-size: 1.25em;
    cursor: pointer;
    transition: all 0.2s linear 0.1s;

    &.is-active {
      color: #000;
      font-family: $SANSFONT;
      font-style: italic;
    }
    &--first {
      position: absolute;
      top: 0;
      left: 45px;
      left: 2.25em;
      width: 100%;
      opacity: 1;
      overflow: hidden;
      transition: width 0.15s linear 0.1s, opacity 0.075s linear 0.1s;
    }
  }
  &__selection {
    position: absolute;
    top: 0;
    left: 100%;

    transition: all 0.3s cubic-bezier(0.19, 0.07, 0.65, 1.27) 0.1s;
  }

  &__inputBlock {
    position: relative;
  }
  &__input {
    padding: 13px 18px;
    padding: 0.575em 0.9em;
    width: 100%;

    border: 1px solid rgba(224, 224, 224, 1);
    outline: none;
    background: #fff;

    color: rgba(154, 154, 154, 1);
    font-family: $SANSFONT;
    font-size: 20px;
    font-size: 1.25em;

    &--file {
      display: none;
    }
  }

  &__img {
    padding: 3px;

    background: #fff;
    position: absolute;
    top: -15%;
    right: 0;

    text-align: center;
    line-height: 1;

    &--file {
      top: -22%;
      right: -1%;
    }
  }

  &__cancel {
    padding: 5px;
    padding: 0.3125em;
    width: 100%;
    max-width: 20px;
    max-width: 1.25em;
    max-height: 20px;
    max-height: 1.25em;

    display: inline-block;
    background: #fff;
    position: absolute;
    top: 0;
    right: 0;

    &--file {
      top: -5px;
      top: -0.3125em;
      right: -5px;
      right: -0.3125em;
    }
  }

  &__linkBlock {
    width: 100%;

    position: absolute;
    top: 0;
    left: 200%;

    transition: all 0.4s cubic-bezier(0.19, 0.07, 0.65, 1.27) 0.1s;

    &.is-active {
      left: 0;
    }
  }

  &__fileBlock {
    //padding-right: 15px;
    //padding: 13px 18px;
    //padding: 0.575em 0.9em;
    position: absolute;
    //top: 5px;
    top: 0;
    bottom: 0;
    width: 100%;

    left: 200%;
    border: 1px solid rgba(224, 224, 224, 1);
    //outline: none;
    background: #fff;

    color: rgba(154, 154, 154, 1);
    font-family: $SANSFONT;
    //font-size: 20px;
    //font-size: 1.25em;

    transition: all 0.3s cubic-bezier(0.19, 0.07, 0.65, 1.27) 0.1s;

    &.is-active {
      left: 0;
    }
  }

  &__label {
    padding: 13px 0 13px 18px;
    height: 100%;

    display: inline-block;
    line-height: 1.4;

    color: rgba(154, 154, 154, 1);
    font-family: $SANSFONT;
    font-size: 20px;
    font-size: 1em;
    cursor: pointer;
  }

  &__dotts {
    display: inline-block;
    vertical-align: bottom;

    color: rgba(154, 154, 154, 1);
    font-size: 20px;
    font-size: 1em;
  }

  &__dot {
    font-size: 30px;
    font-size: 1.5em;

    animation: dotAnim 2s infinite both;
    //opacity: 0;
    display: none;
    animation-delay: 0.25s;

    &:nth-child(2) {
      animation-delay: 0.75s;
    }

    &:nth-child(3) {
      animation-delay: 1.25s;
    }

    &.is-active {
      display: inline-block;
    }
  }
}  */
