.c-decorLine {
  width: 6px;
  width: 0.375em;
  height: 154em;
  height: 9.625em;

  background: rgba(255, 255, 255, 1);

  font-size: 16px;
  font-size: 1em;

  &--long {
    height: 361px;
    height: 22.5625em;
  }
  
  &--blue {
    background: rgba(68, 79, 113, 1);
  }

  &--violet {
    background: rgba(178, 192, 231, 1);
  }

  @include media("<=tablet") {
    display: none;
  }
}

.c-decorDotted {
  font-size: 16px;
  font-size: 1em;

  &__item {
    width: 6px;
    width: 0.375em;
    height: 4em;
    height: 0.25em;

    background: rgba(255, 255, 255, 1);
    
    &--blue {
      background: rgba(68, 79, 113, 1);
    }

    &--violet {
      background: rgba(178, 192, 231, 1);
    }
  }

  &__item:not(:first-child) {
    margin-top: 12px;
    margin-top: 0.75em;
  }

  @include media("<=tablet") {
    display: none;
  }
}

.c-shape {
  font-size: 16px;
  font-size: 1rem;

  &__img {
    width: 100%;
    max-width: 16px;
    max-height: 30px;

    display: inline-block;

    &--big {
      max-width: 32px;
      max-height: 54px;
    }
  }

  @include media("<=tablet") {
    display: none;
  }
}

.c-cancelDecor {
  font-size: 16px;
  font-size: 1rem;

  &__img {
    width: 100%;
    max-width: 36px;
    max-width: 2.25em;
    max-height: 36px;
    max-height: 2.25em;

    display: inline-block;
  }

  @include media("<=tablet") {
    display: none;
  }
}

.c-snake {
  font-size: 16px;
  font-size: 1rem;

  &__img {
    width: 100%;
    //max-width: 180px;
    //max-height: 180px;
    max-width: 150px;
    max-width: 9.375em;
    max-height: 310px;
    max-height: 19.375em;

    display: inline-block;
  }

  @include media("<=tablet") {
    display: none;
  }
}