.c-video {
  font-size: 16px;
  font-size: 1rem;

  &__content {
    width: 100%;
    //height: 400px;
    //height: 614px;

    //height: 689px;
    //height: 100%;
    //max-height: 43.0625em;


    position: relative;
    overflow: hidden;
    cursor: pointer;

    @include media("<=phone") {
      //height: 15em;
      //height: 18em;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    //height: 614px;
    //height: 200px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__overLay {
    width: 100%;
    height: 100%;

    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    //background: rgba(0, 0, 0, 0.4);
  }

  &__iframeHack {

    position: relative;
    display: block;
    height: 0;
    padding: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
  }

  &__firstVideo {
    width: 100%;
    height: 100%;
    //height: 614px;
    //height: 200px;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border: none;
    //overflow: hidden;
    //transition: all 0.1s linear 0.1s;
  }

  &__secondVideo {
    width: 100%;
    height: 100%;
    //height: 614px;
    //height: 200px;

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    border: none;
    //overflow: hidden;
  }
  
  &__buttonWrap {
    //padding: 23.5%  0 0;
    padding: 15.75em 0 0;
    width: 100%;
    height: 100%;

    text-align: center;

    @include media("<=tablet") {
      display: none;
    }

    //@include media("<=phone") {
    //  //padding: 11% 0 0;
    //  padding: 5.5em 0 0;
    //}
  }

  &__button {
    width: 100%;
    max-width: 96px;
    max-width: 6em;
    max-height: 96px;
    max-height: 6em;

    display: inline-block;
    cursor: pointer;
  }
}

video::-internal-media-controls-download-button {
  display:none;
}

video::-webkit-media-controls-enclosure {
  overflow:hidden;
}

video::-webkit-media-controls-panel {
  width: calc(100% + 30px); /* Adjust as needed */
}