.c-form {
  font-size: 16px;
  font-size: 1rem;

  &__input {
    padding: 13px 36px 13px 18px;
    padding: 0.65em 1.8em 0.65em 0.9em;
    width: 100%;

    margin-top: 20px;
    margin-top: 1em;
    border: 1px solid rgba(224, 224, 224, 1);
    //background-image: url("../img/cancel--none.svg");
    background-repeat: no-repeat;
    background-position: 97.5% 48.5%;
    background-size: 15px 15px;
    outline: none;

    color: #777;
    font-family: $SANSFONT;
    font-size: 20px;
    font-size: 1.25em;

    transition: all 0.5s linear 0.1s, border 0.3s linear 0.1s;

    @include media("<=phone") {
      font-size: 1.375em;
    }
  }

  &__input:focus {
    border: 1px solid #000;
    color: #000;
  }

  &__input--required {
    background-repeat: no-repeat;
    background-position: 97.5% 48.5%;
    background-size: 15px 15px;
    &:focus {
      //background-image: url("../img/cancel--red.svg");
    }

    &.error {
      border: 1px solid #ea5050;
      background-image: url("../img/cancel--red.svg");
    }

    &.valid {
      border: 1px solid #00AA51;
      background-image: url("../img/done--green.svg");

    }
  }

  &__input--first {
    margin-top: 0;
  }

  &__button {
    border: 1px solid rgba(224, 224, 224, 1);
    //border: 1px solid #000;
    background: #fff;
    cursor: pointer;

    //color: #000000;
    transition: all 0.2s cubic-bezier(0, 0, 0.49, 1.19) 0.1s;

   /* &:focus .c-form__button__text {
      //color: rgba(154, 154, 154, 1);
      color: #fff;
    }

    &:active .c-form__button__text {
      color: rgba(154, 154, 154, 1);
      color: red;
    }*/

    &.is-active {
      border: 1px solid rgba(136, 136, 136, 1);
    }

    &:hover {
      background: #1a5bdd;
    }

    &.is-active .c-form__button__text {
      color: #000;
    }

    &:hover .c-form__button__text {
      //color: #fff;
      color: #fff;
    }


    &__text {
      display: inline-block;
      vertical-align: middle;

      color: rgba(154, 154, 154, 1);

      transition: all 0.1s linear 0.1s;
      
      &.is-hide {
        display: none;
      }
    }

    &__preloader {
      width: 0;
      overflow: hidden;

      display: none;
      vertical-align: middle;

      &.is-active {
        display: inline-block;
        width: auto;
        overflow: inherit;
      }
    }

    &__result {
      width: 0;
      overflow: hidden;
      opacity: 0;

      display: none;
      vertical-align: middle;

      transition: width 0.1s linear 0.1s;

      &.is-active {
        width: 2em;
        opacity: 1;
        display: inline-block;
      }
    }

    &__icon {
      max-width: 20px;
      max-height: 20px;

      vertical-align: middle;
    }

  }



  &__download {
    margin-top: 16px;
  }

  &__lineWrap {
    position: relative;
  }

  &__line {
    position: absolute;

    &--first {
      top: -95px;
      right: -15%;
    }
  }
}

.c-form label.error {
  height: 0;
  overflow: hidden;
  opacity: 0;
  font-size: 0;
}