.c-download {
  font-size: 16px;
  font-size: 1rem;

  &__content {
    width: 100%;
    height: 3.75em;
    line-height: 3.75em;

    position: relative;
    //overflow: hidden;
    cursor: pointer;
    text-align: left;

    &:hover {
      .c-download__icon {
        fill: rgba(26, 91, 221, 1);
      }

      .c-download__block--first {
        opacity: 0;
        z-index: 0;
      }

      .c-download__block--second {
        opacity: 1;
        z-index: 5;
      }
    }
  }

  &__icon {
    max-width: 40px;
    max-height: 40px;
    max-width: 2.5em;
    max-height: 2.5em;

    fill: rgba(149, 175, 236, 1);
    transition: all 0.1s ease-in 0.1s;

    position: absolute;
    top: 14%;
    z-index: 10;

    &.is-active {
      opacity: 0;
      z-index: 0;
      transition: all 0.1s ease-out 0.1s;

    }
  }
  &__block {
    padding-left: 14.5%;
    width: 100%;

    display: inline-block;
    vertical-align: middle;
    //margin-left: 16px;
    //margin-left: 1em;
    position: absolute;
    background: #fff;
    transition: all 0.2s linear 0.1s;

    &--first {
      z-index: 5;
      transition-duration: 0.3s;
    }
    &--second {
      z-index: 0;
      opacity: 0;
    }
    &--link {
      padding-left: 0;
      width: 100%;

      z-index: 0;
      opacity: 0;
      left: 0;

      &.is-active {
        z-index: 10;
        opacity: 1;
        transition: all 0.2s linear 0.1s;
      }
    }

    &--file {
      padding-left: 0;
      width: 100%;

      z-index: 0;
      opacity: 0;
      left: 0;
      top: 0;
      bottom: 0;
      overflow: hidden;
      transition: all 0.2s linear 0.1s;

      &.is-active {
        z-index: 10;
        opacity: 1;
        background: #fff;

      }
    }

    @include media("<=phone") {
      //padding-left: 17.5%;
    }
  }

  &__text {
    display: inline-block;

    color: rgba(154, 154, 154, 1);
    font-family: $SANSFONT;
    font-size: 20px;
    font-size: 1.25em;
    cursor: pointer;
    transition: all 0.2s linear 0.1s;

    &--file{
      margin-left: 0.8em;
    }

    &:hover {
      color: #000;
    }

    @include media("<=phone") {
      font-size: 1.375em;
    }
  }

  &__input {
    padding: 13px 36px 13px 18px;
    padding: 0.65em 1.8em 0.65em 0.9em;
    width: 100%;

    border: 1px solid rgba(224, 224, 224, 1);
    background-image: url("../img/cancel--none.svg");
    background-repeat: no-repeat;
    background-position: 98.5% 50%;
    background-size: 15px 15px;
    outline: none;

    color: rgba(154, 154, 154, 1);
    font-family: $SANSFONT;
    font-size: 20px;
    font-size: 1.25em;

    transition: all 0.2s linear 0.1s, border 0.3s linear 0.1s;
  }

  &__input:not(:first-child) {
    margin-top: 20px;
    margin-top: 1em;
  }

  &__input:focus {
    border: 1px solid #000;
    color: #000;
  }

  &__cancel {
    padding: .3125em;
    width: 100%;
    max-width: 20px;
    max-width: 1.25em;
    max-height: 20px;
    max-height: 1.25em;

    display: inline-block;
    top: -5px;
    right: -5px;
    position: absolute;
    background: #fff;

    &--file {
      top: 21px;
      top: 1.3125em;
      right: 0;
    }
  }

  &__file {
    display: none;
  }

  &__fileName {
    opacity: 1;
    //padding-left: 5%;
    color: #000;
    font-style: italic;

    transition: all 0.1s ease-in-out 0.1s;
  }
}
