.c-preloader {
  font-size: 16px;
  font-size: 1rem;

  &__content {
    width: 48px;
    height: 30px;
    //height: 48px;

    position: relative;
  }

  &__icon {
    width: 40px;
    height: 40px;
    vertical-align: bottom;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;

    &.is-active {
      opacity: 1;
    }
  }

  &__radius {
    fill: none;
    stroke: #9a9a9a;
    opacity: 0.3;
    stroke-width: 4px;
  }

  &__toddler {
    fill: none;
    stroke: rgba(#1a5bdd, 0.8);
    stroke-width: 4px;
    stroke-linecap: round;
    stroke-dasharray: 56.52;
    stroke-dashoffset: 42;
    animation: rotate 0.75s linear infinite;
    transform-origin: 50% 50%;
  }

}

